body, html{
  height: 100%;
  font-family: 'lato', sans-serif;
  
}
/*header*/
.navbar-brand img{
  width:150px;
  height: 50px;
}
/* Hero-Banner CSS */
.hero-image{
  height: 70%;
  background-image: url("../icons/banner.png") ;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position: relative;
  background-color: #999347;
  margin-bottom: 60px;
  
}

.hero-text{
  text-align: center ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}

.hero-text > p{
  margin-bottom: 40px;
}

.tellus{
  padding: 8px 24px;
  font-size: 18px;
  background-color: #13988A;
  border: none;
  border-radius: 50px;
}
.collapse button{
 
  background-color: #13988A;
  color: #ffffff;
  border: none;
  border-radius: 7px;
}

/*Setting up the CSS of intro_text*/

.intro_text {
  text-align: center;
}
.intro_text  h2{
  font-size: 37px;
}
.intro_text h6{
  font-weight: 200;
  font-size: 21px;
  margin-bottom: 90px;
}

/* Setting up the Css of tools_intro */

.tools_intro{
  text-align: center;
}
.tools-icon {
  width: 60px !important;
  height: 60px !important;
}

.testimonial small{
  color:#18A874;
}
.fourth_section{
  background-color: #333333;
  color: #fff;
}
.form1{
  background-color: #fff;
  color: #828282;
}
.form2{
  background-color: #13988A;
  color: #fff;
}

.mix {
  border-style: none none solid none;
 }

 .ico{
   width: 20px;
   height: 20px;;
 }


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .intro_text{
    text-align: center;
  }

  .tools_intro{
    text-align: center;
  }
  .social-media {
   margin-right: 0 !important;
   text-align: center !important;
  }

}

/* for small devices and tablets*/
@media (max-width: 768px){
  .space{margin-top: 3rem;}
  .info{text-align: justify}
  .info p{text-align: justify}
  .details{margin-top:50px;}
  .arrow {visibility: hidden}
  

  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  ...
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  ...
}


.contact_box{
  width: 100%;
  height: 300px;
  background-color: #ff00ff;
  margin-bottom: 30%;
}

/*About Us*/

/*Setting up the CSS of info*/
/* .info{
	padding: 50px 0;
} */

.info p{
	
  font-family: 'lato light', sans-serif;

 
}

/*Setting up the CSS of icons*/
.icons img{
	width: 100px;
	height:100px;
}
.partners img{
  width: 150px;
  height: 150px;
}
.icons p{
    
    font-family: 'lato medium', sans-serif

}

/*Setting up the CSS of teams*/
.team h4{
	background-color: #13988A ;
	color:#ffffff;
	padding: 2px 5px 10px 5px;
	display:inline ;
	
}
  .slide img{
      width: 150px;
      height: 150px;;
  }
  .headers{
      line-height: 10%;
  }
  .no{
      width: 100% !important;
      margin-top: -5% !important;
  }
  .imgicon{
    width: 103px !important;
    height: 74px !important;
  }
  
.arrow{
  width: 50px;
  height: 30px!important;
}
a .social-media{
  height: 40px;
  width: 40px;
}

footer{
  background-color: #171616;
  color:#ffffff;
}
footer a{
  color: #13988A;
}
.details{
  padding-left:110px !important;
 }

 .slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
    
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

